
// Cores de fundo
$fundo-escuro: #121212;
$fundo-icone: #131313;
$fundo-icone-color: rgba(0,0,07);
$fundo-preto: #000;
$fundo-cinza-medio: #242424;

// Cores de texto
$texto-cinza-claro: #b3b3b3;
$texto-cinza-claro-2: #a7a7a7;
$texto-branco: #fff;
$texto-cinza-medio: #878787;

// Cores neutras/base
$preto-puro: #000;
